$primary: #51b7fb;
$dark: #252528;
$grad: linear-gradient(90deg, rgba(81, 183, 251, 1) 24%, rgba(200, 228, 241, 1) 76%);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Karla', sans-serif;
}

/*--------------------------- BASIC SETUP --------------------------------*/

.page-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, $dark, #fefefe, $primary, #239dd5);
  background-size: 300% 300%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

/*--------------------------- NAVIGATION ----------------------------------*/

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  grid-area: navbar;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 60px;
  overflow: hidden;

  & img {
    height: 25px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }

  & ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end;
  }
}

.navbar .nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-out;
  margin: 0 10px;
}

.nav-item a:hover {
  color: $primary;
}

.nav-item a:active {
  color: #000;
}


/* ------------------ MOBILE MENU & ANIMATION ----------------------------*/

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: $dark;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;

  &:hover {
    cursor: pointer;
  }
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* -------------------- NAVIGATION querys ------------------------------- */

@media only screen and (max-width: 720px) {

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background: rgb(81, 183, 251);
    background: -moz-linear-gradient(180deg, rgba(81, 183, 251, 1) 23%, rgba(200, 228, 241, 1) 73%);
    background: -webkit-linear-gradient(180deg, rgba(81, 183, 251, 1) 23%, rgba(200, 228, 241, 1) 73%);
    background: linear-gradient(180deg, rgba(81, 183, 251, 1) 23%, rgba(200, 228, 241, 1) 73%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#51b7fb", endColorstr="#c8e4f1", GradientType=1);
    /*background-color: #fff;*/
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }
}

@media only screen and (min-width: 721px) {
  .navbar {
    height: 60px;

    ul {
      margin: 0;
    }

    img {
      height: 30px;
    }
  }

  .nav {
    height: 50px;
    align-items: center;
    width: 80%;
    padding: 0px;
  }

  .navbar .nav-item a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 960px) {
  .navbar {
    height: 70px;

    img {
      height: 40px;
    }
  }

  .nav {
    height: 60px;
    width: 65%;
  }
}

@media only screen and (min-width: 1280px) {
  .navbar {
    height: 80px;

    img {
      height: 60px;
    }
  }

  .nav {
    height: 70px;
    width: 70%;
  }

  .navbar .nav-item a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1690px) {
  .nav {
    width: 65%;
  }

  .navbar .nav-item a {
    font-size: 1.6rem;
  }
}

/* -------------------------SECTIONS ------------------------------------ */

.color {
  background-color: $primary;
}


#about,
#skills,
#blog,
#projects,
#contact {
  height: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: $primary;
  transform: skewY(-5deg);
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 2px 2px 2px rgba(206, 89, 55, 0);
  margin: 15px 0px;
  padding: 1.4rem 0;
  justify-content: center;
}


/* -------------------------SECTION 1 - About section-------------------- */
.section1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.profile {
  margin: 0 auto;

  & img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: $grad;
    border: 0px solid #eee;
    padding: 10px;
  }
}

/*------------------------ Typewriter cursor ------------------------------*/

.typewriter {
  display: block;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 2px 2px 2px rgba(206, 89, 55, 0);
}

.Typewriter-cursor {
  -webkit-animation: Typewriter-cursor 1s infinite;
  animation: Typewriter-cursor 1s infinite;
}

@-webkit-keyframes Typewriter-cursor {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes Typewriter-cursor {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.section1-1 {
  flex-direction: row;
}

.section1-1content {
  max-width: 1280px;
  margin: 0 auto;
  margin-right: 15px;
  margin-left: 15px;
}

/*--------------------- SECTION 1 querys ----------------------------------*/
@media only screen and (max-width: 720px) {
  .section1-1content {
    margin-top: 50px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 721px) {
  .section1 {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    .profile {
      margin: 20px 0px 0px 15px;

      & img {
        height: 350px;
        width: 350px;
        border-radius: 50%;
        background: $grad;
        border: 0px solid #eee;
        padding: 15px;
      }
    }

    .typewriter {
      font-size: 1.2rem;
      padding-top: 110px;
    }
  }

  .section1-1content {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 960px) {
  .section1 .profile {
    margin: 20px 0px 0px 15px;

    & img {
      height: 450px;
      width: 450px;
      padding: 20px;
    }
  }

  .section1 .typewriter {
    font-size: x-large;
    padding-top: 160px;
  }

  .section1-1content {
    margin-top: 70px;
    margin-bottom: 15px;
  }

  .section1-1content {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.5rem;
  }

  .section1 {
    max-width: 1280px;
    margin: 0 auto;

    .profile img {
      height: 500px;
      width: 500px;
      border-radius: 50%;
      background: $grad;
      border: 0px solid #eee;
      padding: 20px;
    }
  }

  .section1 .typewriter {
    font-size: xx-large;
    padding-top: 140px;
  }

  .section1-1content {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1690px) {
  .section1 {
    margin: 0 auto;

    .profile img {
      height: 550px;
      width: 550px;
      border-radius: 50%;
      background: $grad;
      border: 0px solid #eee;
      padding: 20px;
    }
  }

  .typewriter {
    font-size: xx-large;
    padding-top: 140px;
  }
}

/* ---------------------------SECTION 2 - Skills-------------------------- */

.section2 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.section2-content {
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 65px;
  padding: 0 15px;
  max-width: 1280px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 3em;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 1rem;
  filter: grayscale(100%);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $primary;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $primary transparent;
}

.tooltip:hover {
  filter: none;

  .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

/* ------------------------- Section 2 - queries ---------------------- */
@media only screen and (min-width: 721px) {
  .section2-content {
    margin: 0 auto;
    margin-top: 65px;
    max-width: 1280px;
  }

  .section2-content .icon {
    font-size: 4em;
  }
}

@media only screen and (min-width: 960px) {
  .section2-content .icon {
    font-size: 6em;
  }
}

@media only screen and (min-width: 1280px) {
  .section2-content {
    margin-bottom: 15px;
  }

  .icon {
    font-size: 8em;
  }
}


/* ------------------------- SECTION 3 - Blog -------------------------*/

.section3 {
  width: 100%;
  height: auto;
}

.section3-content {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 65px;
  flex-direction: column;
}

.card {

  $delay: .15s;
  $duration: .4s;
  $timing: cubic-bezier(.51, .92, .24, 1);

  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 90%;
  margin: 15px;
  background: white;
  color: currentColor;
  text-decoration: none;
  overflow: hidden;
  transition-property: color;
  transition-delay: $delay;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .1);

  &.hover {
    color: white;
    transition-delay: 0;
  }

  &,
  &__image,
  &__image::after,
  &__author,
  &__body,
  &__foot,
  &__border {
    transition-duration: $duration;
    transition-timing-function: $timing;
  }

  &__head {
    position: relative;
    padding-top: 70%;
  }

  &__author {
    position: absolute;
    padding: 2em;
    left: 0;
    bottom: 0;
    color: white;
    transition-property: transform;
    transition-delay: $delay;
  }

  &.hover &__author {
    transition-delay: 0;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-image: url('../img/change.jpeg');
    transform-origin: top center;
    transition-property: transform;
    transition-delay: $delay;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .5;
      background: linear-gradient(30deg, rgba(#1a2a63, .85), rgba(#1a2a63, .5));
      transition-property: opacity;
      transition-delay: $delay;
    }
  }

  &.hover &__image {
    transition-delay: 0;

    &::after {
      opacity: 1;
      transition-delay: 0;
    }
  }

  &__body {
    position: relative;
    padding: 2em;
    transition-property: transform;
    transition-delay: $delay;
  }

  &.hover &__body {
    transition-delay: 0;
  }

  &__headline {
    font-weight: 400;
    margin: 0 0 .8em;
  }

  &__text {
    line-height: 1.5;
    margin: 0;
    opacity: .8;
  }

  &__foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2em 2em;
    opacity: 0;
    transition-property: opacity;
  }

  &.hover &__foot {
    opacity: 1;
    transition-delay: $delay;
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    border-bottom: 2px solid $primary;
  }

  &__border {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: $primary;
    transform: scaleY(0);
    transition-property: transform;
  }

  &.hover &__border {
    transform: none;
    transition-delay: $delay;
  }

}

.author {

  display: flex;
  align-items: center;

  &__image {
    $size: 56px;

    flex-shrink: 0;
    margin-right: 1em;
    width: $size;
    height: $size;
    border-radius: 100%;
    overflow: hidden;
  }

  &__content {
    display: grid;
    grid-gap: .4em;
    font-size: .9em;
  }

  &__header {
    margin: 0;
    font-weight: 600;
  }

  &__subheader {
    margin: 0;
    opacity: .8;
  }
}

/* ------------------------- Section 3 - queries ---------------------- */
@media only screen and (min-width: 720px) {
  .card {
    width: 45%;
  }
}

@media only screen and (min-width: 1280px) {
  .section3-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .card {
    width: 380px;
  }
}


/* -----------------------SECTION 4 - Projects --------------------------- */
.section4 {
  width: 100%;
  height: auto;
}

.section4-content {
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 65px;
}

.mockup {
  text-decoration: none;
  text-align: center;

  img {
    width: 100%;
    filter: drop-shadow(0px 0px 20px rgb(96, 102, 104));
  }

  &:hover {
    cursor: pointer;
    transition: .5s;
    filter: drop-shadow(0px 0px 20px rgb(51, 174, 232));
  }
}

/* ------------------------- Section 4 - queries ---------------------- */
@media only screen and (min-width: 720px) {
  .section4-content {
    margin: 0 auto;
  }

  .mockup {
    justify-content: space-around;

    img {
      width: 45%;
    }
  }
}

/*---------------------- SECTION 5 - Contact -----------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #666666;
}

input:-moz-placeholder {
  color: #666666;
}

input::-moz-placeholder {
  color: #666666;
}

input:-ms-input-placeholder {
  color: #666666;
}

textarea::-webkit-input-placeholder {
  color: #666666;
}

textarea:-moz-placeholder {
  color: #666666;
}

textarea::-moz-placeholder {
  color: #666666;
}

textarea:-ms-input-placeholder {
  color: #666666;
}

label {
  display: block;
  margin: 0;
}

.wrap-contact100 {
  min-width: 350px;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 70px;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  padding: 52px 60px 78px 60px;
  margin-bottom: 15px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 33px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  margin-bottom: 10px;
}

/*---------------------------------------------*/
.label-input100 {
  width: 22px;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  top: 0;
  left: 27px;
}

.label-input100 img {
  max-width: 100%;
}


/*---------------------------------------------*/
.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

input.input100 {
  height: 70px;
  padding: 0 20px 0 62px;
}


textarea.input100 {
  min-height: 199px;
  padding: 25px 20px 15px 30px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid $primary;
  border-radius: 4px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus+.focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*------------------------ Alert validate ----------------------------*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.btn-cont {
  text-align: center;
  margin-top: 70px;

  .btn {
    position: relative;
    padding: 20px 50px;
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;

    &:hover {
      border: none;

      .line-1 {
        animation: move1 1500ms infinite ease;
      }

      .line-2 {
        animation: move2 1500ms infinite ease;
      }

      .line-3 {
        animation: move3 1500ms infinite ease;
      }

      .line-4 {
        animation: move4 1500ms infinite ease;
      }
    }
  }

  .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: $primary;
    left: 0;
    bottom: 0;
  }

  .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: $primary;
    left: 0;
    top: 0;
  }

  .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: $primary;
    right: 0;
    top: 0;
  }

  .line-4 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: $primary;
    right: 0;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }

  54% {
    height: 0;
    bottom: 100%;
  }

  55% {
    height: 0;
    bottom: 0;
  }

  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }

  54% {
    height: 0;
    top: 100%;
  }

  55% {
    height: 0;
    top: 0;
  }

  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }

  55% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

/*------------------------- Responsive -------------------------------*/

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 52px 15px 78px 15px;
    border: none;
    margin: 5px;
    margin-top: 20px;
  }
}

/* --------------------------- FOOTER -----------------------------------*/
.footer {
  height: auto;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
}

.glow-on-hover {
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  color: #000000;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;

  &:before {
    content: '';
    background: linear-gradient(45deg, #51b7fb, #46a2df, #2ba2f1, #81c7f5, #81bde6, #618aa5, #82c1eb, #1d71a9, #51b7fb);
    position: absolute;
    background-size: 400%;
    z-index: -1;
    top: -2px;
    left: -2px;
    filter: blur(2px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
  }

  &:active {
    color: #000
  }

  &:active:after {
    background: transparent;
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: 0 0;
    left: 0;
    top: 0;
    border-radius: 50%;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* ------------------------- Footer - queries ---------------------- */
@media only screen and (min-width: 1280px) {
  .glow-on-hover {
    width: 7rem;
    height: 7rem;
    border: none;
    outline: none;
    color: #000000;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50%;
  }
}

/* ---------------------- GRADBAR ANIMATIONS -------------------------- */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
