$primary: #51b7fb;
$primary1: #239dd5;
$dark: #252528;
$black: #000;
$white: #fff;
$light-gray: #fefefe;
$alert: #c80000;
$grad: linear-gradient(90deg, rgba(81, 183, 251, 1) 24%, rgba(200, 228, 241, 1) 76%);
$box-shadow: 0 1px 15px -10px rgba(0,0,0,.8);
$bshadow: 0 1px 15px -10px rgba(0, 0, 0, 0.8);
$tshadow: 1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
$neonWhite:  0 0 5px $white, 0 0 10px $white, 0 0 15px $white, 2px 2px 2px rgba(206, 89, 55, 0);
$transition: 0.8s cubic-bezier(0.51, 0.92, 0.24, 1);
$delay: 0.2s;
$duration: 0.8s;
$color: #239dd5;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Karla', sans-serif;
}

/*--------------------------- BASIC SETUP --------------------------------*/

.page-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, $dark,
  $light-gray, $primary, $primary1);
  background-size: 300% 300%;
  animation: gradbar 15s ease infinite;
}

/*--------------------------- NAVIGATION ----------------------------------*/

.nav-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $white;
  box-shadow: $box-shadow;
  z-index: 99;
}

.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  overflow: hidden;

  & img {
    height: 25px;
    width: auto;
    margin-left: 20px;
  }

  & ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    padding: 0px;
  }

  & .nav-item a {
    color: $black;
    font-size: 1.3em;
    font-weight: 400;
    text-decoration: none;
    text-shadow: $neonWhite;
    text-transform: uppercase;
    transition: color 0.3s ease-out;

    &:hover {
      color: $primary;
    }

    &:active {
      color: #000;
    }
  }
}

/* ------------------ MOBILE MENU & ANIMATION ----------------------------*/

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: $dark;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  margin-right: 25px;
  margin-left: auto;
  display: none;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* -------------------- NAVIGATION querys ------------------------------- */

@media only screen and (max-width: 720px) {

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 50px;
    background: rgb(81, 183, 251);
    background: linear-gradient(180deg, rgba(81, 183, 251, 1) 23%, rgba(200, 228, 241, 1) 73%);
    width: 100%;
    height: calc(100vh - 40px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }
}

@media only screen and (min-width: 721px) {
  .navbar {
    height: 60px;

    img {
      height: 30px;
    }
  }

  .nav {
    height: 50px;
    align-items: center;
    width: 80%;
    padding: 0px;
  }

  .navbar .nav-item a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 960px) {
  .navbar {
    height: 70px;

    img {
      height: 40px;
    }
  }

  .nav {
    height: 60px;
    width: 65%;
  }
}

@media only screen and (min-width: 1280px) {
  .navbar {
    height: 80px;

    img {
      height: 60px;
    }
  }

  .nav {
    height: 70px;
    width: 70%;
  }

  .navbar .nav-item a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1690px) {
  .nav {
    width: 65%;
  }

  .navbar .nav-item a {
    font-size: 1.6rem;
  }
}

/* -------------------------SECTIONS ------------------------------------ */

.color {
  background-color: $primary;
}


#about,
#skills,
#blog,
#projects,
#contact {
  height: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(81,183,251,1) 50%, rgba(255,255,255,1) 100%);
  transform: skewY(-3deg);
  text-transform: uppercase;
  text-align: center;
  text-shadow: $neonWhite;
  margin: 15px 0px;
  padding: 1.4rem 0;
  justify-content: center;
  font-size: 1.6em;
}


/* -------------------------SECTION 1 - About section-------------------- */
.section1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.profile {
  margin: 0 auto;

  & img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: $grad;
    border: 0px solid #eee;
    padding: 10px;
  }
}

/*------------------------ Typewriter cursor ------------------------------*/

.typewriter {
  display: block;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0;
  text-shadow: 0 0 5px $white, 0 0 10px $white, 0 0 15px $white, 2px 2px 2px rgba(206, 89, 55, 0);

  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 2em
  }
}

.Typewriter-cursor {
  animation: Typewriter-cursor 1s infinite;
}

@-webkit-keyframes Typewriter-cursor {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes Typewriter-cursor {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.section1-1 {
  flex-direction: row;
}

.section1-1content {
  max-width: 50em;
  margin: 0 auto;
  margin-right: 15px;
  margin-left: 15px;
}

/*--------------------- SECTION 1 querys ----------------------------------*/
@media only screen and (max-width: 720px) {
  p {
    font-size: 1.3em;
  }
  .section1-1content {
    padding: 10px;
  }
}

@media only screen and (min-width: 721px) {
  p {
    font-size: 1.5em;
  }

  .section1 {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    .profile {
      margin: 20px 0px 0px 15px;

      & img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background: $grad;
        border: 0px solid #eee;
        padding: 15px;
      }
    }

    .typewriter {
      font-size: 1.3rem;
      padding-top: 10%;
    }
  }

  .section1-1content {
    margin: 0 auto;
    padding-top: 10px;
  }

  .section3-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 960px) {
  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
  }
  .section1 .profile {
    margin: 20px 0px 0px 15px;

    & img {
      height: 400px;
      width: 400px;
      padding: 20px;
    }
  }

  .section1 .typewriter {
    font-size: x-large;
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  .section1 {
    max-width: 1280px;
    margin: 0 auto;

    .profile img {
      height: 500px;
      width: 500px;
      border-radius: 50%;
      background: $grad;
      border: 0px solid #eee;
      padding: 20px;
    }
  }

  .section1 .typewriter {
    font-size: xx-large;
    padding-top: 140px;
  }
}

@media only screen and (min-width: 1690px) {
  .section1 {
    margin: 0 auto;

    .profile img {
      height: 550px;
      width: 550px;
      border-radius: 50%;
      background: $grad;
      border: 0px solid #eee;
      padding: 20px;
    }
  }

  .typewriter {
    font-size: xx-large;
    padding-top: 140px;
  }
}

/* ---------------------------SECTION 2 - Skills-------------------------- */

.section2 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.section2-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  max-width: 1280px;

  h4 {
    font-size: 1.4em;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 6em;
}

.tooltip {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  filter: grayscale(100%);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $primary;
  color: $white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $primary transparent;
}

.tooltip:hover {
  filter: none;

  .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

/* ------------------------- Section 2 - queries ---------------------- */
@media only screen and (min-width: 721px) {
  .section2-content {
    margin: 0 auto;

    h4 {
      font-size: 1.4em;
    }
  }

  .section2-content .icon {
    font-size: 5em;
  }
}

@media only screen and (min-width: 960px) {
  .section2-content .icon {
    font-size: 6em;
  }
}

@media only screen and (min-width: 1280px) {
  .icon {
    font-size: 7em;
  }
}


/* ------------------------- SECTION 3 - Blog -------------------------*/

.section3 {
  width: 100%;
  height: auto;
}

.section3-content {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 65px;
  justify-content: space-around;
}

.card {
  max-width: 400px;
  margin: 10px;
  height: 500px;
  position: relative;
  box-shadow: $bshadow;

  .front img {
    transition: $transition;
  }
}

.card:hover {
  .front img {
    transform: scale(3);
    transition-delay: $delay;
    transition-duration: $duration;
  }

  .top-content {
    z-index: 1;
    transform: translateY(-150px);
    transition-delay: $delay;
    transition-duration: $duration;
  }

  .bottom-content {
    z-index: 1;
    text-shadow: $tshadow;
    transform: translateY(-140px);
    transition-delay: $delay;
    transition-duration: $duration;
    a {
      color: #fff;
    }
    p {
      color: #fff;
    }

  }

  .link {
    display: inline;
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
    text-shadow: $tshadow;
  }
}

.card::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 157, 225, 0.2);
  border-bottom: 5px solid $color;
  transition: $transition;
}

.card:hover::after {
  display: block;
  transition: $transition;
}

.link:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: $color;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.link:hover:after {
  width: 100%;
  left: 0;
}

.effect {
  overflow: hidden;
  transition: $transition;
}

.front {
  width: 100%;
  height: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

.top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 30%;
  margin: 5%;
  color: #fff;
  text-decoration: none;
  text-shadow: $tshadow;
  transition: $transition;
}

.bottom-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 46%;
  position: absolute;
  line-height: 1.2;
  font-size: 1em;
  margin: 5%;
  font-weight: 200;
  transition: $transition;

  a {
    color: #000;
    text-decoration: none;
    font-size: 1.3em;
  }

  p {
    color: #000;
  }
}

.link {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #fff;
  text-decoration: none;
  text-shadow: $tshadow;
}

.profile-blog {
  margin-right: 10px;


  & img {
    width: 65px;
    border-radius: 50%;
  }
}

.profile-info {
  line-height: 2px;
}

/* ------------------------- Section 3 - queries ---------------------- */
@media only screen and (min-width: 720px) {
  .card {
    width: 45%;
  }
}

@media only screen and (min-width: 1280px) {
  .section3-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}


/* -----------------------SECTION 4 - Projects --------------------------- */
.section4 {
  width: 100%;
  height: auto;
}

.section4-content {
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 65px;
}

.mockup {
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  img {
    width: 100%;
    filter: drop-shadow(0px 0px 20px $dark);
  }

  &:hover {
    transition: .5s;
    filter: drop-shadow(0px 0px 20px $primary);
  }
}

/* ------------------------- Section 4 - queries ---------------------- */
@media only screen and (min-width: 720px) {
  .section4-content {
    margin: 0 auto;
  }

  .mockup {
    justify-content: space-around;

    img {
      width: 45%;
    }
  }
}

/*---------------------- SECTION 5 - Contact -----------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent; //!important;
}

label {
  display: block;
  margin: 0;
}

.wrap-contact100 {
  min-width: 350px;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 15px;
  margin-left: 2em;
  margin-right: 2em;
  background: $white;
  border-radius: 2px;
  overflow: hidden;
  padding: 52px 60px 78px 60px;
  box-shadow: $box-shadow;
}

/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-size: 30px;
  color: $dark;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 33px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: $white;
  border: 1px solid #ededed;
  border-radius: 4px;
  margin-bottom: 10px;
}

/*---------------------------------------------*/
.label-input100 {
  width: 22px;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 27px;
}

.label-input100 img {
  max-width: 100%;
}

/*---------------------------------------------*/
.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 15px;
  font-family: inherit;
  color: $dark;
  line-height: 1.2;
}

input.input100 {
  height: 70px;
  padding: 0 20px 0 62px;
}

textarea.input100 {
  min-height: 199px;
  padding: 25px 20px 15px 30px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid $primary;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus+.focus-input100 {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

/*------------------------ Alert validate ----------------------------*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: $white;
  border: 1px solid $alert;
  border-radius: 2px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;
  color: $alert;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: $alert;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.btn-cont {
  text-align: center;
  margin-top: 70px;

  .btn {
    position: relative;
    padding: 20px 50px;
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      border: none;

      .line-1 {
        animation: move1 1500ms infinite ease;
      }

      .line-2 {
        animation: move2 1500ms infinite ease;
      }

      .line-3 {
        animation: move3 1500ms infinite ease;
      }

      .line-4 {
        animation: move4 1500ms infinite ease;
      }
    }
  }

  .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: $primary;
    left: 0;
    bottom: 0;
  }

  .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: $primary;
    left: 0;
    top: 0;
  }

  .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: $primary;
    right: 0;
    top: 0;
  }

  .line-4 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: $primary;
    right: 0;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }

  54% {
    height: 0;
    bottom: 100%;
  }

  55% {
    height: 0;
    bottom: 0;
  }

  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }

  54% {
    height: 0;
    top: 100%;
  }

  55% {
    height: 0;
    top: 0;
  }

  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }

  55% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

/*------------------------- Responsive -------------------------------*/

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 52px 15px 78px 15px;
    border: none;
    margin: 5px;
    margin-top: 20px;
  }
}

/* --------------------------- FOOTER -----------------------------------*/
.footer {
  height: auto;
  margin: 10px 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: middle;

  .icon {
    font-size: 3em;
  }
}

.glow-on-hover {
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  color: $black;
  background: transparent;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  cursor: pointer;

  &:before {
    content: '';
    background: linear-gradient(45deg, #51b7fb, #46a2df, #2ba2f1, #81c7f5, #81bde6, #618aa5, #82c1eb, #1d71a9, #51b7fb);
    position: absolute;
    background-size: 400%;
    z-index: -1;
    top: -1px;
    left: 4px;
    filter: blur(2px);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
  }

  &:active {
    color: $black;
  }

  &:active:after {
    background: transparent;
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: 0 0;
    left: 0;
    top: 0;
    border-radius: 50%;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* ------------------------- Footer - queries ---------------------- */
@media only screen and (min-width: 1280px) {
  .glow-on-hover {
    width: 7rem;
    height: 7rem;
  }
}

/* ---------------------- Footer2 -----------------------*/
.footer2 {
  margin: 0 auto;
  padding: 0 75px;
}
/* ---------------------- GRADBAR ANIMATIONS -------------------------- */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
